<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <a href="{{api1Route}}"><li>{{api1Name}} </li></a>
  <a href="{{api2Route}}"><li>{{api2Name}} </li></a>
  <a href="{{api3Route}}"><li>{{api3Name}} </li></a>
</ul>
